<style>
  body {
    background: <%= @color %>;
  }
</style>

<h1>About Me</h1>
<p>Lots of interesting stuffs.</p>

<h1>About me</h1>
<p>Lots of interesting stuff.</p>
<p>My favorite color is <%= @color %>
and my shoe size is <%= @size %>
</p>

<% if @size.to_i > 12 %>
<p> I have Huge feet</p>

<% end %>